.widget{
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    width: 300px;
}
.convertion{
    width: 100%;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.418);
    /* max-height: 500px; */
    border-radius: 10px;
}

.buttons{
    border: none;
    margin: 10px;
}
.mic{
    width: 60px;
    height: 60px;
}
.buttons{
    border-radius: 100px;
    overflow: hidden;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.341);
}
.scroll-container::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
}